h3 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: gray;
}

div.url {
    padding: 10px;
    font-size: large;
    font-weight: 700;
}

.header {
    padding: 10px;
    background-color: mediumseagreen;
}

.button-connect-container {
    padding: 10px;
    position: fixed;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button-connect-container .button .print {
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: mediumseagreen;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 50px;
}

.button-connect-container .button .print:hover {
    background-color: seagreen;
}

.button-connect-container .button .self-test {
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: mediumseagreen;
    color: white;
    font-weight: 500;
    margin-top: 15px;
    width: 100%;
    height: 50px;
}

.button-connect-container .button .self-test:hover {
    background-color: seagreen;
}

.receipt-type {
    margin-left: 10px;
    font-weight: 500;
}

.switch-container {
    margin-left: 10px;
}
.switch {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 36px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: mediumseagreen;
}

input:focus + .slider {
    box-shadow: 0 0 1px mediumseagreen;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

/* ROUNDED SLIDER */
.slider.round {
    border-radius: 44px;
}

.slider.round:before {
    border-radius: 50%;
}


